footer{
    background-color: var(--lightBodyColor);
    padding: 20px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 900;
    box-shadow: inset 0px -1px 15px var(--blueColor);
    color: var(--lightFontColor);
    font-size: .9rem;
}
.dark-footer{
    background-color: var(--darkBodyColor);
    color: var(--darkFontColor);
    box-shadow: inset 0px -1px 15px var(--goldColor);
}
@media screen and (max-width: 1246px) {
    footer{
      font-size: .7rem;
    }
}