.home-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 85px);
    width: 100%;
}
.home-description{
    padding: 70px;
    color: var(--lightFontColor);
    width: 50%;
}
.dark-font{
    color: var(--darkFontColor);
}

.home-description h1{
    font-size: 6.5rem;
    animation: upToDown 2s ease;
}
.home-description h3{
    font-size: 1.3rem;
    margin-top: 5px;
    margin-bottom: 15px;
    animation: leftToRight 2s ease;
}
.my-name{
    color: var(--blueColor);
}
.special-color{
    color: var(--goldColor);
}
.home-description p{
    color: rgb(112, 112, 112);
    line-height: 25px;
    animation: leftToRight 2s ease;
}
.darkParag{
 color: rgb(185, 181, 181) !important;
}
.btn {
    width: 220px;
    height: 50px;
    line-height: 42px;
    padding: 0;
    border: none;
    background-color: var(--blueColor);
    position: relative;
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: 500;
    color: whitesmoke;
    cursor: pointer;
    animation: opacity 3s ease-in;
  }
  .dark-btn{
    color: #000;
    background-color: var(--goldColor);
  }
  .dark-btn:hover{
    color: var(--goldColor) !important;
  }
  .btn:hover {
    color: var(--blueColor);
    background: transparent;
    box-shadow:none;
  }
  .btn:before,
  .btn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background-color: var(--blueColor);
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .dark-btn:before,
  .dark-btn:after{
    background: var(--goldColor) !important;
  }
  .btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn:hover:before,
  .btn:hover:after{
    width:100%;
    transition:800ms ease all;
  }

.home-image img{
    width: 35vw;
    animation: imageRotation 3s ease;
}

.my-email{
    display: flex;
    align-items: center;
    gap: 15px;
    position: fixed;
    right: -210px;
    bottom: 230px;
    transform: rotate(90deg);
    z-index: 500;
    color: var(--fontColor);
}
.line1{
    height: 2px;
    width: 110px;
    background-color: var(--blueColor);
}
.line2{
    height: 2px;
    width: 60px;
    background-color: var(--blueColor);
}
.dark-line{
    background-color: var(--goldColor);
}
.my-email h3{
    font-size: 1.2rem;
}
.email-link{
    color: var(--lightFontColor);
}
.email:hover{
    color: var(--blueColor);
}
.dark-email:hover{
    color: var(--goldColor);
}
.social-media{
    display: flex;
    align-items: center;
    gap: 15px;
    position: fixed;
    left: -140px;
    bottom: 158px;
    transform: rotate(90deg);
    z-index: 500;
    color: var(--lightFontColor);
}
.dark-font{
    color: var(--darkFontColor);
}
.social-icon{
    font-size: 1.7rem;
}
.social-icon:hover{
    color: var(--blueColor);
}
.dark-icon:hover{
    color: var(--goldColor);
}
.contact-link{
    color: var(--lightFontColor);
}
.dark-link{
    color: var(--darkFontColor) !important;
}
@keyframes upToDown {
    from{
        transform: translateY(-200%);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes leftToRight {
    from{
        transform: translateX(-200%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes opacity {
    from{
        filter: opacity(0);
    }
    to{
        filter: opacity(1);
    }
}
@keyframes imageRotation {
    from{
        transform: rotateY(0);
    }
    to{
        transform: rotateY(360deg);
    }
}
@media screen and (max-width: 1246px) {
    .home-description{
        padding: 40px;
    }
    .home-description h1{
        font-size: 3.2rem;
    }
    .home-description h3{
        font-size: 1rem;
    }
    .home-description p{
        font-size: .8rem;
    }
    .my-email h3{
        font-size: 1rem;
    }
    .social-icon{
        font-size: 1.3rem;
    }
    .my-email{
        right: -200px;
        bottom: 200px;
    }
    .social-media{
        bottom: 140px;
    }
    .btn{
        font-size: .8rem;
        width: 160px;
        height: 40px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 680px){
    .home-description{
        padding: 10px;
    }
    .home-image{
        display: none;
    }
    .home-description{
        text-align: center;
        width: 100%;
        padding: 20px;
    }
    .home-description p{
        white-space: nowrap;
    }
}
@media screen and (max-width: 407px){
    .home-description h1{
        font-size: 2.2rem;
    }
    .home-description h3{
        font-size: .8rem;
    }
    .home-description p{
        font-size: .6rem;
        line-height: 15px;
        white-space: wrap;
    }
}